<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>panoproc</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='pannellum/pannellum.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>panoproc</h1>
    </header>
    <main>
      <noscript>Please enable JavaScript.</noscript>
      <div id="panorama"></div>
      <section>
        <p>File name: {{ image_name }}</p>
        <p>Image {{ image_number }}/{{ image_count }}</p>
        <p>Other things:</p>
        <button>Submit</button>
      </section>
    </main>
    <footer>
      <section>
        <p>by Lachlan Shoesmith</p>
        <p>
          Credit to the
          <a href="https://github.com/mpetroff/pannellum">Pannellum project</a>
        </p>
      </section>
    </footer>
    <script src="{{ url_for('static', filename='pannellum/libpannellum.js') }}"></script>
    <script src="{{ url_for('static', filename='pannellum/pannellum.js') }}"></script>
    <script>
      pannellum.viewer('panorama', {
        type: 'equirectangular',
        panorama: "{{ url_for('static', filename='pano.jpg') }}",
        autoLoad: true,
      });
    </script>
  </body>
</html>
