<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>panoproc</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='pannellum/pannellum.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://api.mazemap.com/js/v2.1.2/mazemap.min.css"
    />
  </head>
  <body>
    <header>
      <h1>panoproc</h1>
    </header>
    <main>
      <noscript>Please enable JavaScript.</noscript>
      <div id="panorama"></div>
      <form action="/submit" method="POST">
        <table>
          <tr>
            <th>File name</th>
            <td id="filename">{{ image_name }}</td>
          </tr>
          <tr>
            <th>Image</th>
            <td>{{ image_number }}/{{ image_count }}</td>
          </tr>
          <tr>
            <th>Title</th>
            <td id="title">N/A</td>
          </tr>
          <tr>
            <th>Building</th>
            <td id="building">N/A</td>
          </tr>
          <tr>
            <th>Floor</th>
            <td id="floor">N/A</td>
          </tr>
          <tr>
            <th>Latitude</th>
            <td id="latitude">N/A</td>
          </tr>
          <tr>
            <th>Longitude</th>
            <td id="longitude">N/A</td>
          </tr>
        </table>

        <div id="map" class="mazemap"></div>
        <input type="submit" value="Submit" />
      </form>
    </main>
    <footer>
      <section>
        <p>by Lachlan Shoesmith</p>
        <p>
          Credit to the
          <a href="https://github.com/mpetroff/pannellum">Pannellum project</a>
        </p>
      </section>
    </footer>
    <script src="{{ url_for('static', filename='pannellum/libpannellum.js') }}"></script>
    <script src="{{ url_for('static', filename='pannellum/pannellum.js') }}"></script>
    <script
      type="text/javascript"
      src="https://api.mazemap.com/js/v2.1.2/mazemap.min.js"
    ></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script>
      pannellum.viewer('panorama', {
        type: 'equirectangular',
        panorama: "{{ url_for('static', filename='pano.jpg') }}",
        autoLoad: true,
      });
    </script>
  </body>
</html>
