body {
  font-family: monospace;
}

h1 {
  font-size: 2rem;
}

header,
main,
footer {
  display: flex;
}

main {
  gap: 32px;
  font-size: 1rem;
}

button {
  font-size: inherit;
  font-family: inherit;
}

header,
footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
}

#panorama {
  width: 64vw;
  height: 36vw;
}

#map {
  width: 30vw;
  height: 40vh;
  position: relative;
}
